!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}
    %title
      - if @item[:title]
        = "#{@item[:title]} -"
      Aanand Prasad
    %meta{:content => "nanoc 3.1.7", :name => "generator"}
    %link{:href => 'http://fonts.googleapis.com/css?family=Vollkorn:regular,italic,bold', :rel => 'stylesheet', :type => 'text/css'}
    %link{:href => "/stylesheets/screen.css", :media => "screen, projection", :rel => "stylesheet", :type => "text/css"}
    %link{:href => "/stylesheets/print.css", :media => "print", :rel => "stylesheet", :type => "text/css"}
    /[if lt IE 8]
      %link{:href => "/stylesheets/ie.css", :media => "screen, projection", :rel => "stylesheet", :type => "text/css"}
  %body
    .container
      .header
        %h1 It’s <a href="/">Aanand Prasad</a>.
        = "&nbsp;"
        %a{:href => "http://twitter.com/aanand"}> Twitter
        = ",&nbsp;"
        %a{:href => "http://github.com/aanand"}> Github
        = "."

      %hr.header-rule

      = yield

